*, *:before, *:after {
  box-sizing: border-box; }

body *, body *:before, body *:after {
  box-sizing: inherit; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

.logo {
  width:5rem;
}

.imageSection {
  padding:0rem 2rem;
}

.startHere {
  background-color: #6acee2;
  color:#fff;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1rem;
  padding: 2rem;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-shadow: 0 1px 3px rgba(26, 98, 112, 0.12), 0 1px 2px rgba(26, 98, 112, 0.24);

}

.material-icons {
  font-size: 2rem;

}

.prompt {
  color: #6acee2;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;

}

.box {
  height: 70vh;
  /*margin: 0.5rem;*/
  border-radius: 1%;
  cursor: pointer;
}

.box:hover {
  opacity: 0.75;
}


.row {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}

.col-small-6 {
    width: 50%;
}
